.bg-black {
    background-color: black;
    color: white;
}
.bg-white {
    color: black;
    background-color: white;
}

.flex {
    display: flex;
    align-items: center;
}
.flex-col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.border-rad-none {
    border-radius: 0!important;
}

.flex-row-reverse {
    flex-direction: row-reverse!important;
}

.text-align-right {
    text-align: right!important;
}