$whiteColor: #fff;
$whiteTransparentColor: rgba(255, 255, 255, 0.9);


$blackColor: #333;
$blackTransparentColor: rgba(51, 51, 51, 0.9);

$blueColor: #0984e3;
$blueTransparentColor:rgba(9, 133, 227, 0.9);

$smallImageSize: 250px;